<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "https://www.w3.org/TR/html4/strict.dtd">

<html lang="en-US" style=" background: slategrey!important; padding: 1rem;">
<head>
<link rel="icon" type="image/png" href="https://linkcheck.schorrmedia.com/static/favicon.png">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content=0>
<link rel=stylesheet href="https://linkcheck.schorrmedia.com/static/style.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">

<title>  Step Two</title>






   <!--onsubmit="mybutton.hidden=true; -->
</head>

<!---- body starts --->
<!---- using local styles because the hidden element doesn't toggle otherwise --->

<body id=bodd>


<div id="topdiv">


<br>
<h3 id="hthree">
You entered:  "{{ name }}"   </h3>
</div>


<div id="div1" class="loader" style="margin-left: 2em; display: none;"></div>

<div id="div2">
    Please wait while your links are checked...</div>

<div id="continb">

<form id="form" action="/indexnn" method ="POST" onsubmit="chg(); return true;">
  <input type="hidden" name="name" value="{{ name }}">
  <input type="submit" id="mb" value="  C O N T I N U E  " class="continueButton" >
</form>






<div class="bot"></div>

</body>
<head>
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content=0>
</head>
</html>