<!DOCTYPE html  PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en-US" prefix="og: http://ogp.me/ns#" style=" background:#f7f7f7!important; padding: 1rem;">

<head profile="https://www.w3.org/2005/10/profile">
<link rel="icon" type="image/png" href="nulslogo.jpg">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="favicon.ico" >
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-Control" content="no-cache" >
<meta http-equiv="Pragma" content="no-cache" >
<meta http-equiv="Expires" content=0 >
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Nancy Schorr">
<meta name="date" content="2020-01-23" scheme="YYYY-MM-DD">


  <meta property="og:title" content="PSU-Chain" />
  <meta property="og:description" content="This will query the blockchain." />
  <meta property="og:url" content="https://nuls.io/" />
  <meta property="og:image" content="nulslogo.jpg" />

<link rel="stylesheet" href="https://schorrmedia.com/?css=smallbiz_expand2web_css_header&v=3.8" type="text/css" media="screen,projection,tv" />



<link rel=stylesheet href="../static/style.css">
<link rel=stylesheet href="https://linkcheck.schorrmedia.com/static/style.css">

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
<title>&emsp;LinkCheck</title>
<style>
<---- this is the latest copy --->

#container {
  height: 4em;
    width: 100%;
  position: relative;
}

#image {
    z-index=-1;
  position: absolute;
height: 6em;
width: 100%;
}

#logo {
    z-index=7;
    position: absolute;
    height: 2em;
    width: 8.1em;
    padding-left:.3em;
    padding-top:.3em;
}

#text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 1.9em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
   text-shadow: .05em .05em .05em grey;
  padding-left: 1em;
  padding-bottom: 2em;
  text-align: center;

 .bcentered {
    position: absolute;
    bottom: .5em;
    left: 1em;
}


</style>
</head>

<body>


<div style="border-width: 1em; border-bottom:0em; border-style: solid; border-color:white; z-index:-2; ">   <!--main area --->

<div id="container" style="background: linear-gradient(to bottom right, #ebffff 0%, #004a6b 90%); z-index:1;" >
  <img id="logo" src=nulslogo.jpg />

    <p><br></p>
   <p><br></p>
  <p id="text" style="padding-top:.1em; color:#004a6b;">
Welcome to Smart Contract
  </p>
</div>
</div>
<p>&nbsp;</p>


<br><br><br>

<form action="indexn" method ="POST" >
<div style="font-family: Montserrat, sans-serif;
     font-weight: 700; padding-left: 2em; padding-top: .5em; color:#0e0e3f;">
Welcome to PSU Nuls Smart Contract<br>
with Chain Factory<br>
Built with Java and Nuls<br>
<br><br><br>
Get all ProductIDs



<input type="submit" value="Do it" style="min-width:3em;  background: linear-gradient(to bottom right,
#ebffff 0%, #004a6b 100%);
       color:white; text-shadow: .03em  .03em .03em #e1e1ea; padding: .5em 1em; font-size: 1em;
        font-weight:500;   font-family:Montserrat, sans-serif; border-radius:.7em;">

    </div>
</form>

<div style=" padding-left:2em;  padding-top:1em;padding-bottom:.5em;">
<br>

<div style="font-family: Montserrat, sans-serif; padding-top:3em;text-align:left; color:#0e0e3f; font-weight:700;">

</div>



<br>
<div  style="padding-left: 0em; color: slategrey; padding-top:2em; z-index:101; font-family:
    Arial, sans-serif; font-size:1em; ">



    <br>
</div>
<br>




<div>
<br>
<br>

    <br><br>


</div>

</body>
<head>
<meta http-equiv="Cache-Control" content="no-cache" >
<meta http-equiv="Pragma" content="no-cache" >
<meta http-equiv="Expires" content=0 >
</head>

</html>
<br><br><br>
see all categories
add category

write review
see all reviews
<!---
    <a style="font-family: Montserrat, sans-serif; padding-left:0em;  font-weight: 700;
    font-size:1em; color:#0e0e3f;" href="https://github.com/nmschorr/linkcheck">Source Code for this on Github</a><br></div>
<a style="font-family: Montserrat, sans-serif; padding-left:0em;
font-weight: 700; font-size:1em; color:#E86138;" href="http://schorrmedia.com">Back to SchorrMedia</a>

    <input type="text" size="24" name="name">&nbsp;

--->
