<!DOCTYPE html  PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en-US" prefix="og: http://ogp.me/ns#" style=" background:slategray!important; padding: 1rem;">

<head profile="https://www.w3.org/2005/10/profile">
<link rel="icon" type="image/png" href="nulslogo.jpg">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="favicon.ico" >
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-Control" content="no-cache" >
<meta http-equiv="Pragma" content="no-cache" >
<meta http-equiv="Expires" content=0 >
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="author" content="Nancy Schorr">
<meta name="date" content="2020-01-23" scheme="YYYY-MM-DD">


  <meta property="og:title" content="VikingChain" />
  <meta property="og:description" content="This will query the Nuls Chain Factory blockchain." />
  <meta property="og:url" content="https://nuls.io/" />
  <meta property="og:image" content="vikinglogo.jpg" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="vcstyle.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>


  <script>
    // wait for the DOM to be loaded
    $(function() {
      // bind 'myForm' and provide a simple callback function
      $('#myForm').ajaxForm(function() {
        $( "#answerarea").append( "Here's the result of your request: ");
      });
    });

  </script>


 </head>
<style>


        
        </style>
<title>&emsp;VikingChain</title>
</head>

<body>

<container style="margin: 2em;">   <!--main area --->

<img src="./vikinglogo.JPG" alt="VikingChain">
 
<h2 style="margin-left:4em; align-items: center;color:darkslateblue;text-shadow: .03em  .03em .03em #c6e7d1;">
       Nuls Smart Contract Query with Chain Factory</h2>

<p style="margin-left:7em;margin-right:7em;padding:1em;color:#4d4d5a;">
  Chain Factory is a user framework that allows developers to build a new chain or enhance an existing
    chain by easily deploying modules selected from a warehouse of modular solutions.</p>


  <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< form >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
  <div id="myform" style="margin-left:7em; margin-right:4em; padding-left:2em;
  background: linear-gradient(to bottom right, #eaf1f1 0%, #a9bcc5 100%);
  border-radius:.7em;font-family: 'Open Sans', sans-serif;" >

<form target="mytextarea" name="makeselection" method ="POST" >
    <span style="font-family: Montserrat, sans-serif;
         font-weight: 500; margin-left:2em; padding-left: 2em; color:#191942;">
    <br>
      Select a Query:
      <br>
     <br><span>
        <input type="radio" id="getAllProductIds" name="makeselection" value="getAllProductIds">
        <label for="myform">Get all ProductIds</label>
      </span>    
      <br>
      <span>
       <input type="radio" id="getContractList" name="makeselection" value="getContractList">
       <label for="myform">Get Contract List</label>
     </span>      
     <br>
     <span>
       <input type="radio" id="getAllProductReviews" name="makeselection" value="getAllProductReviews"
              checked>
       <label for="myform">Get All ProductId Reviews</label>
     </span>
     <br>
      <span>
        <input type="radio" id="getContractBalance"  name="makeselection" value="getContractBalance">
        <label for="myform">Get Contract Balance</label>
      </span>
      <br>
      <span>
        <input type="radio" id="getTransaction" name="makeselection" value="getTransaction">
        <label for="myform">Get Transaction</label>
      </span>   
    <br> <br>
    <span> 
    <input type="submit" class="makeselection" id="makeselection" name="makeselection" value="Run Query" 
          style="width:9em; margin-left:3em;
          background: linear-gradient(to top right, #b587c0 0%, #0f3d55 100%);
          color:white; text-shadow: .03em  .03em .03em #e1e1ea; padding: .5em; font-size: 1em;
          font-weight:700; font-family:Montserrat, sans-serif; border-radius:.7em;">
    
        </span>
        <br> &nbsp;  <br>
    </form> <!-- ### end myform ###  -->
</div #myForm> <!-- div myform -->

</container>
<br>
  <span style="margin-left:6em">Answers Below:</span>

<p id="answerarea" class="answerarea_class" style="margin-left:6em;">
</p>  




<!--  ######################################## script  -->
<script>

$(document).ready(function(){

  $("#makeselection").click(function () {
       var result = $("#makeselection").val();
   
    document.getElementById("answerarea").innerHTML = result;


      }
      );
    });


  </script>
</body>

<!-- 
   /*  get contract basic info:  create time, owner
       "business data"
       gas used, gas limit, height
    
class attributes are denoted in CSS with a “period” ( . ) before the class name, 
 ID attributes are prefixed with an “octothorpe” ( # ), 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

    function formatJson(msg) {
        var rep = "~";
        var jsonStr = JSON.stringify(msg, null, rep)
        var str = "";
        for (var i = 0; i <jsonStr.length; i++){
            var text2 = jsonStr.charAt(i)
            if(i > 1) {
                var text = jsonStr.charAt(i - 1)
                if (rep != text && rep == text2) {
                    str += "<br/>"
                }
            }
            str += text2;
        }
        jsonStr = "";
        for (var i = 0; i < str.length; i++) {
            var text = str.charAt(i);
            if (rep == text)
                jsonStr += "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
            else {
                jsonStr += text;
            }
            if (i == str.length - 2)
                jsonStr += "<br/>"
        }
        return jsonStr;
    }
    $(function () {
        $("#create").show();
        $("#createMail").click(function () {
            var one = $("#1_one").val();
            var mailAddress = $("#1_mailAddress").val();
            var password = $("#1_password").val();
            $.ajax({
                type: "POST",
                url: "http://localhost:18003/",
                data: JSON.stringify({
                    "one": one,
                    "password": password,
                    "mailAddress": mailAddress
                }),
                success: function (data) {
                    console.log(data)
                    if (data.success) {
                        $("#1_res").text(data.data);
                    } else {
                        $("#1_res").text(data.msg)
                    }
                },
                contentType: 'application/json',
                dataType: "json"
            });
        });
        $("#sendMail").click(function () {
            var address = $("#2_address").val();
            var mailAddress = $("#2_mailAddress").val();
            var password = $("#2_password").val();
            var title = $("#2_title").val();
            var content = $("#2_content").val();
            $.ajax({
                type: "POST",
                url: "http://localhost:9999/mail/sendMail",
                data: JSON.stringify({
                    "senderAddress": address,
                    "password": password,
                    "mailAddress": mailAddress,
                    "title": title,
                    "content": content
                }),
                success: function (data) {
                    console.log(data)
                    if (data.success) {
                        $("#2_res").text(("Here is your transaction hash: " + data.data)),
                            $("#2b_res").text((data.msg));
                    } else {
                        $("#2_res").text(("Something went wrong. ")),
                           $("#2b_res").text(("Please reload page and try again."));
                    }
                },
                contentType: 'application/json',
                dataType: "json"
            });
        });
        $(".left > li").click(function () {
            $(".right > div").hide();
            $("#" + $(this).data("v")).show();
        })

    });
</script> 
      

getAccountBalance
getAccountContractList
getAccount
getAccountTokens
getAccountTxs
getChainInfo
getContractList
getContract
getTxList
getContractTxList
getContractMethodArgsTy
getAccountLedgerList
getTokenTransfers
getTx

Free Chain Building

broadcastTx
getAccountCrossLedgerLi
getAccountFreezes
getAllAddressPrefix
getAnnulizedRewardStati
getBestBlockHeader
getBestRoundInfo
getBlockHeaderList
getBlockTxList
getCoinInfo
getCoinRanking
getConsensusNodeCount
getConsensusNodes
getConsensusStatistical
getContractListById
getHeaderByHeight
getInfo
getPunishList
getRoundList
getTxStatistical
imputedContractCallGas
invokeView
search
validateTx

--> 


</html>
