<!DOCTYPE html  PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en-US" prefix="og: http://ogp.me/ns#" style=" background:#f7f7f7!important; padding: 1rem;">

<head profile="https://www.w3.org/2005/10/profile">
<link rel="icon" type="image/png" href="nulslogo.jpg">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="favicon.ico" >
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-Control" content="no-cache" >
<meta http-equiv="Pragma" content="no-cache" >
<meta http-equiv="Expires" content=0 >
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="author" content="Nancy Schorr">
<meta name="date" content="2020-01-23" scheme="YYYY-MM-DD">


  <meta property="og:title" content="VikingChain" />
  <meta property="og:description" content="This will query the Nuls Chain Factory blockchain." />
  <meta property="og:url" content="https://nuls.io/" />
  <meta property="og:image" content="nulslogo.jpg" />

  <link rel="stylesheet" href="vcstyle.css" />
<style>
    .mybutton{
        min-width:3em;  
        background: linear-gradient(to bottom right, #ebffff 0%, #004a6b 100%);
        color:white; 
        text-shadow: .03em  .03em .03em #e1e1ea; padding: .5em 1em; font-size: 2em;
        font-weight:500;   
        font-family:Montserrat, sans-serif; border-radius:.7em;
}
 
        
        </style>
<title>&emsp;VikingChain</title>
</head>

<body>


<div style="margin-left: 50px;">   <!--main area --->

<p><br></p>
    <h1>Welcome to VikingChain</h1>


<br><br><br>
<p><h3>Chain Factory is a user interface that allows developers to build a new chain or enhance an existing
    chain by automatically deploying modules selected from a warehouse of endless modular solutions.</h3></p>

<h3>Nuls Smart Contract with Chain Factory</h3><br>
<h4>Built with Java and Nuls</h4><br>

<br><br><br>

<div style="padding-left: 100px;">





    Make a Selection:




 <div id="myform" >
<form target="mytextarea"  action="" method ="POST" >
    <div style="font-family: Montserrat, sans-serif;
         font-weight: 700; padding-left: 2em; padding-top: .5em; color:#0e0e3f;">
     Make a Selection:<br>

    <input type="radio" size="22" value="radio" >&nbsp;

    <input type="text" size="24" name="name">&nbsp;
    
    
    <input type="submit" value="Do it" style="min-width:3em;  background: linear-gradient(to bottom right, #ebffff 0%, #004a6b 100%);
           color:white; text-shadow: .03em  .03em .03em #e1e1ea; padding: .5em 1em; font-size: 2em;
            font-weight:500;   font-family:Montserrat, sans-serif; border-radius:.7em;">
    
        </div>
    </form>


</div>  

<div id="mytextarea">  </div>


    <button type="button" class="mybutton"> Free Chain Building</button>
<br>    <br>
    <h2>Get all ProductIds</h2>
    <button type="button" class="mybutton> Call </button>

    <br>    <br>
    <button type="button" class="mybutton">  Get All ProductId Reviews </button>

    <br>    <br>

    <button type="button" class="mybutton">  Get Contract Balance< </button>

    <br>    <br>

    <button type="button" class="mybutton"><!----><!----> Get Contract Balance </button>
    <br>    <br>
    <button type="button" cclass="mybutton"><!----><!----> Get Contract Balance </button>
    <br>    <br>

    <h2>Get All ProductId Reviews - Enter ProductId</h2>
    <br>    <br>
        <h2>Get Contract Balance</h2>
        <br>    <br>
        <h2>Get Payer Balance</h2>
        <br>    <br>    <br>


getAccountBalance
getAccountContractList
getAccount
getAccountTokens
getAccountTxs
getChainInfo
getContractList
getContract
getTxList
getContractTxList
getContractMethodArgsTy
getAccountLedgerList
getTokenTransfers
getTx



broadcastTx
getAccountCrossLedgerLi
getAccountFreezes
getAllAddressPrefix
getAnnulizedRewardStati
getBestBlockHeader
getBestRoundInfo
getBlockHeaderList
getBlockTxList
getCoinInfo
getCoinRanking
getConsensusNodeCount
getConsensusNodes
getConsensusStatistical
getContractListById
getHeaderByHeight
getInfo
getPunishList
getRoundList
getTxStatistical
imputedContractCallGas
invokeView
search
validateTx





</div>



</body>












<!-- bottom header for no-cache -->
<head>
<meta http-equiv="Cache-Control" content="no-cache" >
<meta http-equiv="Pragma" content="no-cache" >
<meta http-equiv="Expires" content=0 >
</head>

</html>
<br><br><br>

<!---
    <a style="font-family: Montserrat, sans-serif; padding-left:0em;  font-weight: 700;
    font-size:1em; color:#0e0e3f;" href="https://github.com/nmschorr/linkcheck">Source Code for this on Github</a><br></div>
<a style="font-family: Montserrat, sans-serif; padding-left:0em;
font-weight: 700; font-size:1em; color:#E86138;" href="http://schorrmedia.com">Back to SchorrMedia</a>

    <input type="text" size="24" name="name">&nbsp;

--->
