<!DOCTYPE html  PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en-US" prefix="og: http://ogp.me/ns#"
                style=" background:slategray!important; padding: 1em;">

<head profile="https://www.w3.org/2005/10/profile">
<link rel="icon" type="image/png" href="nulslogo.jpg">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="favicon.ico" >
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-Control" content="no-cache" >
<meta http-equiv="Pragma" content="no-cache" >
<meta http-equiv="Expires" content=0 >
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="author" content="Nancy Schorr">
<meta name="date" content="2020-01-23" scheme="YYYY-MM-DD">


  <meta property="og:title" content="VikingChain" />
  <meta property="og:description" content="This will query the Nuls Chain Factory blockchain." />
  <meta property="og:url" content="https://nuls.io/" />
  <meta property="og:image" content="vikinglogo.jpg" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="vcstyle.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>


<title>&emsp;VikingChain</title>

</head>

<body>

<container style="margin: 2em;">   

  <p style="font-size: 17px; color:blue; font-weight: 700; margin-right:7em; float: right;">
  Wallet &emsp; Explorer
  </p>

<img src="./vikinglogo.JPG" alt="VikingChain">
<hr class="hrstyle">
 
<h2 style="margin-left:36%;  color:darkslateblue;
  text-shadow: .03em  .03em .03em #c6e7d1;">
       Product Review Viewer</h2>

<p style="margin-left:12em;margin-right:12em;padding:1em;color:#4d4d5a;font-size:x-small;">

VikingChain is the first product review platform that ensures un-biased product review by employing the 
decentralized benefits of blockchain technology.
<br> <br>
VikingChain incentivizes users to write objective reviews by rewarding them with VikingChain Tokens (VKG)
which can be redeemed for product discounts or traded on exchanges.
</p>

  <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

  
  <div style="margin-left:6em; font-size: x-small;">

    <span style="font-weight:700;color:rgb(55, 53, 66);margin-left:7em;">Enter login information:</span><br> &emsp;<br> 
    <span style="margin-left:15em;">Account number </span> <input id="acctaddy" size="39em" class="myinputstyle" ></input>
    
    <br><br>
    <span style="margin-left:15em;"></span>Password  </span> <input id="acctpasswd" size="39em" class="myinputstyle" ></input>
    <br>

   <hr class="hrstyle2">

 <br><span>
 <button id="button1" class="buttonstyle">Show contracts</button> 
</span>   
<br>

 <br><span>
    <button id="getAllReviews2" class="buttonstyle">Get reviews</button><br>
  </span>    
 
 <br><span>
   <button id="getcb" class="buttonstyle">Show contract details </button>
 </span>    
  <br>

 
  
  <hr class="hrstyle2">

  <p id="landhere" class="pstyle2">Here's the results:</span></p>
 <container id="landingspot" class="pstyle2"> 


 </container>
</div>
 <br>
 <br>    <br>    <br>
  </container>

  
<!--#json is:  {'jsonrpc': '2.0', 'method': 'getContract', 'params': [24442, 'TTSETeCA3FueL9cKCiDR8vAiRiGVtVCJksEsstM'], 'id': 900032}-->


<script>
        // get balance:
        const POSTURL = "http://78.47.206.255:18003";
        const INVOKE = "invokeView";
        const CONTENTTYPE = "application/json";
        const CONT_ADDY = 'TTSETeCA3FueL9cKCiDR8vAiRiGVtVCJksEsstM';
        const CHAINID = 24442;
        let LANDINGSPOT = document.getElementById("landingspot");

        $(document).ready(function() {

            $("#getcb").click(function(){
                const GC_METHOD = "getContract";
                let PARAMS = [CHAINID, CONT_ADDY];
                let ID_D =  900032;

                $.ajax({
                    type: "POST", url: POSTURL,  contentType: CONTENTTYPE,  dataType: "json",
                    data: JSON.stringify({
                        "jsonrpc": "2.0",  "method": GC_METHOD,
                        "params": PARAMS,  "id": ID_D
                        }),
                      success: function (data) {
                        let answerjson = JSON.stringify(data, ":", 4)
                        console.log(data.result);
                        var x = LANDINGSPOT.childElementCount;
                        console.log("x is: ");
                        console.log(x);
                        if (x > 0) {
                          LANDINGSPOT.removeChild(LANDINGSPOT.childNodes[0]);           // Remove <ul>'s first child node (index 0)
                          }
                        var mynode = document.createElement("LI");                 // Create a <li> node
                        var textnode = document.createTextNode(answerjson);         // Create a text node
                        mynode.appendChild(textnode);                              // Append the text to <li>                        
                        LANDINGSPOT.appendChild(mynode);     // end of success
                      }
                });
            });  // end ajax
				 
//{'jsonrpc': '2.0', 'method': 'invokeView', 'params': [24442, 'TTSETeCA3FueL9cKCiDR8vAiRiGVtVCJksEsstM', 'getReviews', '(String productId) return Ljava/util/List;', ['baseball']], 'id': 900056}

        	$("#getAllReviews2").click(function(){  //
		            let RET_TYPE = "(String productId) return Ljava/util/List;";
                let LASTLIST = ["baseball"];
                let METHOD_D = "invokeView";
                let REQUEST_TYPE = "getReviews";
                let ID_D =  900033;
                let PARAMS = [CHAINID, CONT_ADDY, REQUEST_TYPE, RET_TYPE, LASTLIST];
               $.ajax({
                    type: "POST", url: POSTURL, contentType: CONTENTTYPE, dataType: "json",
                    data: JSON.stringify({
                        "jsonrpc": "2.0",  "method": METHOD_D,
                        "params": PARAMS,  "id": ID_D
                        }),
                      success: function (data) {
                        console.log(data);
                        LANDINGSPOT.append(data.result.result);
                       }
					        });  // end ajax
			      	});
		    	});

</script>

</body>
</html>



<!--# rev {contractAddress: "TTSETeCA3FueL9cKCiDR8vAiRiGVtVCJksEsstM", creater:
"TTSETeCA3Fdhsu91EFmTuwHpXaNfWgUDL35sZS7", createTxHash: "79bb093e7400310627c7fc015392d9df5f0e5b0c6f305c6478dd83c47a3eb373", alias: "nancydemo", blockHeight: 312807, …}-->
<!--__prot-->


  
<!--   
  
  

 get contract basic info:  create time, owner
       "business data"
       gas used, gas limit, height
    
class attributes are denoted in CSS with a “period” ( . ) before the class name, 
 ID attributes are prefixed with an “octothorpe” ( # ), 

    $(function () {
        $("#create").show();
        $("#createMail").click(function () {
            var one = $("#1_one").val();
            var mailAddress = $("#1_mailAddress").val();
            var password = $("#1_password").val();
            $.ajax({
                type: "POST",
                url: "http://localhost:18003/",
                data: JSON.stringify({
                    "one": one,
                    "password": password,
                    "mailAddress": mailAddress
                }),
                success: function (data) {
                    console.log(data)
                    if (data.success) {
                        $("#1_res").text(data.data);
                    } else {
                        $("#1_res").text(data.msg)
                    }
                },
                contentType: 'application/json',
                dataType: "json"
            });
        });
        $("#sendMail").click(function () {
            var address = $("#2_address").val();
            var mailAddress = $("#2_mailAddress").val();
            var password = $("#2_password").val();
            var title = $("#2_title").val();
            var content = $("#2_content").val();
            $.ajax({
                type: "POST",
                url: "http://localhost:9999/mail/sendMail",
                data: JSON.stringify({
                    "senderAddress": address,
                    "password": password,
                    "mailAddress": mailAddress,
                    "title": title,
                    "content": content
                }),
                success: function (data) {
                    console.log(data)
                    if (data.success) {
                        $("#2_res").text(("Here is your transaction hash: " + data.data)),
                            $("#2b_res").text((data.msg));
                    } else {
                        $("#2_res").text(("Something went wrong. ")),
                           $("#2b_res").text(("Please reload page and try again."));
                    }
                },
                contentType: 'application/json',
                dataType: "json"
            });
        });
        $(".left > li").click(function () {
            $(".right > div").hide();
            $("#" + $(this).data("v")).show();
        })

    });

      

getAccountBalance
getAccountContractList
getAccount
getAccountTokens
getAccountTxs
getChainInfo
getContractList
getContract
getTxList
getContractTxList
getContractMethodArgsTy
getAccountLedgerList
getTokenTransfers
getTx

Free Chain Building

broadcastTx
getAccountCrossLedgerLi
getAccountFreezes
getAllAddressPrefix
getAnnulizedRewardStati
getBestBlockHeader
getBestRoundInfo
getBlockHeaderList
getBlockTxList
getCoinInfo
getCoinRanking
getConsensusNodeCount
getConsensusNodes
getConsensusStatistical
getContractListById
getHeaderByHeight
getInfo
getPunishList
getRoundList
getTxStatistical
imputedContractCallGas
invokeView
search
validateTx

--> 



