<html>
   <head>
      <title>The jQuery Example</title>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>


      <script>
         $(document).ready(function() {
            $("p").css("background-color", "yellow");
            var $mytextarea = document.getElementById("mytextarea");
            $mytextarea.textContent += " just been added";
            //$v.append("background-color");
            var $mb = document.getElementById("#mybutton");
            var $myin = document.getElementById("#myinput");

            $("#mybutton").click(function(){
                $mytextarea.textContent += " button clicked";
                document.getElementById("mytextarea").append("--yes--");


                var $singleValues = $( "#myinput" ).val();

                $mytextarea.append("\n   very happy! \n");
                $mytextarea.append(   $singleValues );

                


            });
         });

         

/*          $("button").click(function(){
            $.get("demo_test.asp", function(data, status){
                alert("Data: " + data + "\nStatus: " + status);
            });
            }); */
      </script>
   </head>
	
   <body>
      <div>


        <input id="myinput">Input Address: </input>

         <p class = "myclass">This is a paragraph.</p>
         <p id = "myid">This is second paragraph.</p>
         <p>This is third paragraph.</p>
          <p id="mytextarea"></p>

      </div>

      <button id="mybutton">my button</button> 
      <container id="contn" style="border:1px;">

          
      </container>
   </body>
</html>
